.table {
  border: 1px solid white;
  border-collapse: separate;
  border-spacing: 5px;
  margin: 20px;
}
.table td {
    color: white;

}
.table td.orange{
    background-color: orange;
    color: white;
}
.table td.grey{
    background-color: grey;
    color: white;
}
.letter {
  font-size: 24px;           
  text-align: center;          
}


